.header {
  background-color: #1c8dcd;
  height: 35px;
  text-align: center;
  font: small-caps 24px/36px "Helvetica", Sans-Serif;
  color: #fff;
}

.profile {
  background-color: #f7f7f9;
  padding: 10px 10px;
}

.counts {
  padding-top: 30px;
  padding-left: 40%;
}

.avi {
  width: 150px;
  height: 150px;
}

.well {
  padding-right: 0px;
}