<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ STATIC_URL }}/css/bootstrap.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{STATIC_URL}}css/bootstrap-responsive.css" rel="stylesheet">
</head>

<body>
  <script src="{{ STATIC_URL }}/js/jquery.min.js"></script>
  <script src="{{ STATIC_URL }}/js/bootstrap.js"></script>
  <div class="navbar">
    {% block login %}
    <a class="brand" href="/">SuperHero Twitter</a>
    <ul class="nav">
      <li><a href="/users/">Profiles</a></li>
      <li><a href="/users/{{ username }}">My Profile</a></li>
      <li><a href="/tweets">Public Feed</a></li>
    </ul>
      <form action="/logout" method="link">
        <input type="submit" value="Logout" class="btn">
      </form>
    {% endblock login %}
  </div>

  <div class="container-narrow">
    {% block content %}
      
    {% endblock content %}
    
  </div>

  <footer>
    <!-- insert footer -->
  </footer>
</body>
</html>