<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ STATIC_URL }}/css/bootstrap.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{STATIC_URL}}css/bootstrap-responsive.css" rel="stylesheet">
</head>

<body>
  <script src="{{ STATIC_URL }}/js/jquery.min.js"></script>
  <script src="{{ STATIC_URL }}/js/bootstrap.js"></script>
  <div class="container">
    <div class="navbar">
      <div class="navbar-inner">
        {% block login %}
        <a class="brand" href="/">SuperHero Twitter</a>

        <ul class="nav nav-pills pull-right">
          <li><a href="/users/">Profiles</a></li>
          <li><a href="/tweets">Public Feed</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hey, <strong>{{username }}</strong>!
            <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/users/{{ username }}">My Profile</a></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
      {% endblock login %}
    </div>

    <div class="">
      {% block content %}
        
      {% endblock content %}
      
    </div>
</div>

  <footer>
    <!-- insert footer -->
  </footer>
</body>
</html>