{% extends "base.html" %}
{% load bootstrap_toolkit %}

{% block login %}

  <h3>Sign In</h3>

  <form action="/login" method="post">
    {% csrf_token %}
    {{ auth_form|as_bootstrap }}

    <input type="submit" class="btn" value="Log In">
  </form>
  
{% endblock login %}

{% block content %}
<h3>Want to Signup?</h3>
{% if new_user_form.errors %}
  <div class="alert alert-error">Sorry Hotshot, Please correct the following:</div> 
{% endif %}
<p>
  <form action="/signup" method="post">
    {% csrf_token %}
    {{ new_user_form|as_bootstrap }}
    <input type="submit" class="btn btn-primary" value="Sign Up!">
  </form>
</p>
  
{% endblock content %}