{% extends "base.html" %}
{% load bootstrap_toolkit %}
{% block content %}
  <div>
    <h3>Tweet!</h3>
    <p>
      <form action="/submit" method="post">
        {% csrf_token %}
        {{ tweet_form|as_bootstrap }}
        <input type="hidden" value={{ next_url }} name="next_url">
        <input type="submit" value="Tweet!" class="btn btn-primary">
      </form>
    </p>
  </div>

  <div>
    <h3>Profiles</h3>
    {% for user, tweet in obj %}
      <div class="tweet">
        <a href="/users/{{ user.username }}">
          <span class="name">{{ user.get_full_name }}</span>
        </a>
        @{{ user.username }}
        <p>
          {{ user.tweet_count }} Tweets
          <span>{{ user.profile.followed_by.count }} Followers</span>
          <span>{{ user.profile.follows.count }} Following</span>
        </p>
        <p>{{ tweet.content }}</p>
      </div>
    {% endfor %}
  </div>
  
{% endblock content %}