{% extends "base.html" %}
{% load bootstrap_toolkit %}

{% block content %}
<div class="">
  <h3>Tweet!</h3>
  <p>
    <form action="/submit" method="post">
      {% csrf_token %}
      {{ tweet_form|as_bootstrap }}
      <input type="hidden" value="{{ next_url }}" name="next_url">
      <input type="submit" value="Tweet!" class="btn btn-primary">
    </form>
  </p>
</div>

<div class="row-fluid">
  <div class="span12">
    <h3>All Tweets</h3>
    {% for tweet in tweets %}
      <div class="row-fluid well">
        <div class="span2">
        <a href="/users/{{tweet.user.username}}">@{{ tweet.user.username }}</a>
        </div>
        <div class="span3 pull-right">
            {{ tweet.date_created | timesince}} ago
        </div>
        <div class="row-fluid">
          <div class="span12">
            {{ tweet.content }}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
  
{% endblock content %}